@font-face {
	font-family: 'Canela Deck Web';
	src: url('CanelaDeck-MediumItalic-Web.woff2') format('woff2'),
		 url('CanelaDeck-MediumItalic-Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	}

.CanelaDeck-MediumItalic-Web {
	font-family: 'Canela Deck Web';
	font-weight: 500;
	font-style: italic;
	}
