@font-face {
	font-family: 'Canela Text Web';
	src: url('CanelaText-RegularNo2Italic-Web.woff2') format('woff2'),
		 url('CanelaText-RegularNo2Italic-Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	}

.CanelaText-RegularNo2Italic-Web {
	font-family: 'Canela Text Web';
	font-weight: 500;
	font-style: italic;
	}
