@font-face {
	font-family: 'Canela Deck Web';
	src: url('CanelaDeck-ThinItalic-Web.woff2') format('woff2'),
		 url('CanelaDeck-ThinItalic-Web.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	}

.CanelaDeck-ThinItalic-Web {
	font-family: 'Canela Deck Web';
	font-weight: 100;
	font-style: italic;
	}
