@font-face {
	font-family: 'Canela Deck Web';
	src: url('CanelaDeck-Medium-Web.woff2') format('woff2'),
		 url('CanelaDeck-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	}

.CanelaDeck-Medium-Web {
	font-family: 'Canela Deck Web';
	font-weight: 500;
	font-style: normal;
	}
