@font-face {
	font-family: 'Canela Text Web';
	src: url('CanelaText-Black-Web.woff2') format('woff2'),
		 url('CanelaText-Black-Web.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	}

.CanelaText-Black-Web {
	font-family: 'Canela Text Web';
	font-weight: 900;
	font-style: normal;
	}
