@font-face {
	font-family: 'Canela Text Web';
	src: url('CanelaText-BoldItalic-Web.woff2') format('woff2'),
		 url('CanelaText-BoldItalic-Web.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	}

.CanelaText-BoldItalic-Web {
	font-family: 'Canela Text Web';
	font-weight: 700;
	font-style: italic;
	}
