@font-face {
	font-family: 'Canela Condensed Web';
	src: url('CanelaCondensed-Medium-Web.woff2') format('woff2'),
		 url('CanelaCondensed-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	}

.CanelaCondensed-Medium-Web {
	font-family: 'Canela Condensed Web';
	font-weight: 500;
	font-style: normal;
	}
